<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz Cumpleaños</title>
</head>
<body style="margin: 0; padding: 0; background-color: #197948;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#197948">
        <tr>
            <td align="center">
                <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-radius: 10px; overflow: hidden; box-shadow: 0px 12px 30px rgba(0,0,0,0.4);">
                    <!-- Mensaje para habilitar imágenes -->
                    <tr>
                        <td align="center" style="font-size: 12px; color: #666; font-family: Arial, sans-serif; padding: 10px; background-color: #f8f8f8;">
                            Si no puedes ver correctamente este correo, habilita las imágenes para una mejor experiencia.
                        </td>
                    </tr>
                    <!-- Encabezado con imagen de fondo -->
                    <tr>
                        <td align="center" style="background: url('http://app.theend.com.uy/static/images/header_bg.jpg') no-repeat center center; background-size: cover; height: 600px;">
                            <img src="http://app.theend.com.uy/static/images/logo_theend.png" alt="TheEnd Logo" style="margin-top: 20px; width: 250px; height: 250px;">
                            <h2 style="color: white; font-size: 24px; font-family: Arial, sans-serif; font-weight: bold;">🎉 Feliz Cumpleaños 🎉</h2>
                            <h1 style="color: white; font-size: 36px; font-family: Arial, sans-serif; font-weight: bold;">{Apodo/Nombre}</h1>
                        </td>
                    </tr>
                    <!-- Main Section -->
                    <tr>
                        <td align="center" style="height: 400px; padding: 20px; background-color: #ffffff;">
                            <p style="font-size: 18px; color: #333; font-family: Arial, sans-serif; vertical-align:top !important; margin-top: 20px;">Desde el equipo de TheEnd queremos saludarte por tu día. Y de paso invitarte a que vengas a celebrar en el bar con:</p>
                            <h2 style="color: green; font-family: Arial, sans-serif; font-size: 60px; font-weight: bold;">🍻</h2>
                            <h1 style="color: green; font-family: Arial, sans-serif; font-size: 50px; font-weight: bold;">¡Una pinta de regalo!</h1>
                        </td>
                    </tr>
                    <!-- CTA Section -->
                    <tr>
                        <td align="center" style="height: 250px; padding: 20px; background-color: #197948;">
                            <a href="#" style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; font-size: 16px; font-family: Arial, sans-serif; border-radius: 5px;">Si querés podés Reservar lugar por WhatsApp</a>
                        </td>
                    </tr>
                    <!-- Pie de página -->
                    <tr>
                        <td align="center" style="height: 200px; padding: 20px; background-color: #000000; color: white; font-size: 14px; font-family: Arial, sans-serif;">
                            <p>Síguenos en nuestras redes sociales:</p>
                            <p>
                                <a href="#" style="color: white; text-decoration: none;"><img src="http://app.theend.com.uy/static/images/icon_instagram.png" width="32" height="32" alt="Instagram"></a>
                                <a href="#" style="color: white; text-decoration: none;"><img src="http://app.theend.com.uy/static/images/icon_facebook.png" width="32" height="32" alt="Facebook"></a>
                                <a href="#" style="color: white; text-decoration: none;"><img src="http://app.theend.com.uy/static/images/icon_whatsapp.png" width="32" height="32" alt="WhatsApp"></a>
                                <a href="#" style="color: white; text-decoration: none;"><img src="http://app.theend.com.uy/static/images/icon_mail.png" width="32" height="32" alt="WhatsApp"></a>
                            </p>
                            <p>&copy; 2025 UMO Comunicación Creativa - Todos los derechos reservados</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
