<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Protección de Datos Personales</title>
</head>
<body style="margin: 0; padding: 0;">
<h1>Política de Protección de Datos Personales de The End Craft Beer</h1> 
<p>
<ol>
    <li>Introducción <br>En The End Craft Beer, valoramos y respetamos la privacidad de nuestros usuarios. Por ello, nos comprometemos a proteger sus datos personales conforme a lo establecido en la Ley N.º 18.331 de Protección de Datos Personales y Acción de Habeas Data de Uruguay. Al utilizar nuestra aplicación (en adelante, "la App"), usted acepta las prácticas descritas en esta política.</li>
    <li>Datos Personales Recopilados <br>
        En la versión 1.0.0 de la App, recopilamos los siguientes datos personales:
            <ul type="square">
                <li>Obligatorios: </li>
                    <ul type="circle">
                        <li>Nombre y apellido</li>
                        <li>Correo electrónico</li>
                        <li>Fecha de nacimiento completa</li></ul>
                <li>Opcional: </li>
                    <ul type="circle">
                        <li>Apodo</li>
                    </ul>    
            </ul></li>
    <li>Finalidad de la Recopilación de Datos <br>
Los datos recopilados tienen como finalidad principal permitir la participación en nuestra campaña "Saludo, una birra y beso", que consiste en recordar y felicitar a nuestros usuarios en su cumpleaños, ofreciéndoles un obsequio determinado según la estrategia de marketing vigente en cada momento del año.</li>
    <li>Consentimiento del Usuario<br>
Al completar y enviar el formulario de registro en la App, el usuario otorga su consentimiento expreso para la recopilación y uso de sus datos personales con las finalidades anteriormente mencionadas, conforme a lo establecido en el artículo 9 de la Ley N.º 18.331.</li>
    <li>Datos Sensibles<br>
La App no recopila datos sensibles de los usuarios, entendidos estos como aquellos que revelan origen racial o étnico, opiniones políticas, convicciones religiosas o filosóficas, afiliación sindical, información referente a la salud o a la vida sexual, según lo dispuesto en el artículo 4 de la Ley N.º 18.331.</li>
    <li>Transferencias Internacionales de Datos<br>
No se realizan transferencias internacionales de los datos personales recopilados a través de la App.</li>
    <li>Almacenamiento y Protección de Datos<br>
Los datos personales se almacenan en una base de datos alojada en nuestros servidores seguros. Hemos implementado medidas técnicas y organizativas adecuadas para garantizar la seguridad de los datos personales y evitar su alteración, pérdida, tratamiento o acceso no autorizado, en cumplimiento con el artículo 11 de la Ley N.º 18.331.</li>
    <li>Compartición de Datos con Terceros<br>
No compartimos los datos personales de nuestros usuarios con terceros, salvo obligación legal o requerimiento de autoridades competentes.
    </li>
    <li>Plazo de Conservación de Datos<br>
Los datos personales serán conservados mientras la campaña de cumpleaños esté en vigor o hasta que se informe a los usuarios sobre su incorporación a otra campaña o finalidad, siempre dentro del ámbito de nuestra marca. Una vez finalizada la campaña o la finalidad para la cual fueron recopilados, los datos serán eliminados conforme a lo establecido en el artículo 12 de la Ley N.º 18.331.
    </li>
    <li>Derechos de los Usuarios<br>
Los usuarios tienen derecho a acceder, rectificar, actualizar, incluir o suprimir sus datos personales. Para ejercer estos derechos, pueden contactar a través de los canales oficiales de The End Craft Beer, incluyendo redes sociales y página web, conforme al artículo 14 de la Ley N.º 18.331.</li>
    <li>Notificación de Cambios en la Política de Datos<br>
Cualquier modificación a esta Política de Datos será comunicada a los usuarios a través de la App, mediante correo electrónico a la dirección proporcionada y por medio de nuestros canales digitales oficiales, como redes sociales y página web.
    </li>
</ol>
</p>
<p>
    <a href="{{ url_for('routes.home') }}"> << Volver</a>
</p>
</body>
