<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
</head>
<body style="margin: 0; padding: 0;">
<h1>
    Términos y Condiciones de uso de la App de The End Craft Beer
</h1>
<p>
<ol>
    <li>Introducción Bienvenido a la app de The End Craft Beer (en adelante, "la App"). Al acceder y utilizar esta App, aceptas cumplir con los presentes Términos y Condiciones (en adelante, "TyC"). Si no estás de acuerdo con ellos, por favor, no utilices la App.</li>
    <li>Uso de la App La App está diseñada como un canal de comunicación e intercambio entre The End Craft Beer y su comunidad de clientes y amigos. En su versión 1.0.0, su función principal es registrar los datos de los usuarios, en particular su fecha de nacimiento, para permitir su participación en la campaña "Saludo, una birra y beso". La finalidad de la App es recordar y saludar a los usuarios en su cumpleaños, habilitando un regalo según la estrategia de marketing vigente.</li>    
    <li>Usuarios permitidos La App solo está disponible para mayores de 18 años. Esta condición se verifica antes de enviar el formulario de registro.</li>    
    <li>Registro y cuentas Para utilizar la App, el usuario debe acceder a la URL proporcionada y completar el formulario de registro con los datos requeridos. La gestión y protección de estos datos se realiza conforme a nuestra "Política de Datos".</li>
    <li>Manejo de datos personales En su versión 1.0.0, la App recopila los siguientes datos personales: nombre y apellido, correo electrónico y fecha de nacimiento (obligatorios), y apodo (opcional). Estos datos se almacenan en una base de datos alojada en nuestros servidores seguros, implementando las mejores prácticas de seguridad para evitar accesos no autorizados.</li>
    <li>Derechos y responsabilidades del usuario El usuario se compromete a proporcionar datos verídicos para formar parte de la base de datos de la App. Está terminantemente prohibida la falsificación de información con el objetivo de acceder a beneficios ofrecidos en las campañas promocionales de The End Craft Beer.</li>
    <li>Contenido y propiedad intelectual La App no permite a los usuarios subir contenido. Todos los derechos sobre la App, incluyendo diseño, funcionalidades y contenido, son propiedad de The End Craft Beer.</li>
    <li>Pagos y suscripciones La App no maneja transacciones monetarias ni comerciales de ningún tipo. No existen pagos, suscripciones ni reembolsos asociados a su uso.</li>
    <li>Limitación de responsabilidad The End Craft Beer se responsabiliza por errores en el registro de datos dentro de la App. En caso de que los datos de un usuario no sean encontrados en la base de datos al momento de la redención de un beneficio, la empresa se hará cargo de investigar y solucionar el inconveniente en la medida de lo posible.</li>
    <li>Modificaciones a los Términos y Condiciones Nos reservamos el derecho de modificar estos TyC en cualquier momento. Los cambios serán comunicados adecuadamente a través de la App y de nuestros canales digitales oficiales (redes sociales y sitio web).</li>
    <li>Contacto y soporte Para dudas, consultas o problemas relacionados con la App, los usuarios pueden comunicarse a través de los canales oficiales de The End Craft Beer, incluyendo redes sociales y página web.</li>
</ol>
</p>
<p>
    <a href="{{ url_for('routes.home') }}"> << Volver</a>
</p>
</body>